[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/indeedhat/Desktop/arduino-arduinoide.desktop]
row=5
col=0

[60D6662BD6660220]
row=0
col=0

[D44E63D84E63B242]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/indeedhat]
row=4
col=0

